body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: black;
    background-image: url('assests/background\ image\ .jpeg');
    background-repeat: no-repeat;

}
/* Adding of color to h1 tag */
h1{
    color: tomato;
}
/* styling of let gets Started  */
.ctn{
    height:50px;
    margin-right: 100px;
    margin-left:10px;
    margin-bottom:auto;
    margin-top:450px;
}
/* Styling the lets get started  */
.ctn1{
  
    margin-top: auto;
    margin-left: 10px;

}
/* styling CSS */
.btn{
    height: 50px;
    width: auto;
   margin-left: 10px;
   cursor: pointer;
   background-color: tomato;
   border-color: black;
   border-radius: 5px;   
}